<?php
$data = array('status' => array('neq',-1));
$productsName = D("Products")->select($data);

?>

<include file="block/header"/>
<include file="block/sidebar"/>
<!--右边主要内容显示区开始-->
<div class="col-sm-9 col-md-9 col-lg-10">
    <section class="mainbody">
        <ol class="breadcrumb">
            当前位置：
            <li><a href="{:U('index/index')}"><i class='fa fa-home'></i> 首页</a></li>

            <li class="active"><i class='fa fa-download'></i> 下载管理  </li>
        </ol>
        <form role="form" id="formSearch" action="{:U('Download/index')}"  method="get">
            <div class="input-group col-sm-8 col-md-6 col-lg-5">
                <select class="form-control" name="products_type" id="productsType">

                    <option  value=""> 产品类型 </option>
                    <volist name="productsType" id="vo">
                        <option value="{$vo.id}" <if condition ="$type eq $vo['id']"> selected </if>>{$vo.name}</option>
                    </volist>


                </select>
                <span class="input-group-btn"></span>
                <select class="form-control" name="products_id" id="productsId">

                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default " type="submit" ><i class="fa fa-search"></i></button>
                </span>
            </div> 

        </form>

        <button class="btn btn-default  add" id="btnAdd"><i class="fa fa-plus"></i>添加下载文件</button>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <if condition="$res eq 1"> <p style="color:#FF0543;margin-top: 10px;">没有找到相关结果！</p></if>
                <thead <if condition="$res eq 1"> style="display:none"</if> >
                <tr>
                    <th>ID</th>
                    <th>文件名</th>
                    <th>文件类型</th>
                    <th>产品类型</th>
                    <th>产品名</th>
                    <th>添加时间</th>
                    <th>更新时间</th>
                    <th>状态</th>
                    <th>下载数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="downloadfile" id="vo">
                    <tr>
                        <td>{$vo.id} </td>
                        <td>{$vo.name}</td>
                        <td>{$vo.path|getFileType}</td>
                        <td>{$vo.products_type|getTypeName = $productsType,###}</td>
                        <td>{$vo.products_id|getProductsName = $productsName,###}</td>
                        <td>{$vo.create_time|date="Y-m-d H:i",###}</td>
                        <td>{$vo.update_time|date="Y-m-d H:i",###}</td>
                        <td><span id="updateStatus" data-id = "{$vo.id}" data-behavior = "更改状态"  <if condition="$vo.status eq 1">data-status="0" <else/> data-status="1" </if>>{$vo.status|status}</span> </td>
                        <td>{$vo.count}</td>
                        <td>
                            <a id="edit"   class="edit" title="编辑"  data-behavior="编辑" data-id="{$vo.id}" ><i class="fa fa-edit"></i> 编辑</a>
                            <a id="delete" class="delete" title="删除" data-behavior="删除" data-id="{$vo.id}" data-status="-1"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        <nav class="page-container">
            {$pager}
        </nav>
    </section>
</div><!--col-sm-3 col-md-9 col-lg-10 end -->
<!--右边主要内容显示区结束-->
</div><!--row end 开始标签在sidebar -->
</div><!--container-fluid  end 开始标签在sidebar -->

<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/Admin/download.js"></script>
<!--每个方法的对应的模板部分的自定义javascript放在这里-->       
<script>
    //在模板里面定义的u方法可以被解析成对应路由，如果是外部引入的js文件里面定义u方法就不会被解析
    var SCOPE = {
        'edit_url': "{:U('Download/edit')}",
        'add_url': "{:U('Download/add')}",
        'set_status_url': "{:U('Download/setStatus')}",
        'ajax_get_products': "{:U('Download/ajaxGetProducts')}"
    };

</script>

<include file="block/footer"/>    