body{padding-top: 70px;background-color:#333;}

.breadcrumb{border-radius: 0;}
.green{color:#51a351}
.goldbg{background-color:#e7d785;}

/*左侧菜单栏*/
.sidebar{  margin-bottom: 15px;}
.nav-sidebar{
    background-color: #111;
    /*margin-left: -15px;*/
    margin-right: -15px;
}
@media screen and (max-width:767px){
    .nav-sidebar{margin-right: 0;}
}
.nav-sidebar  i{width: 1.5em;text-align: center;}
.nav-sidebar li a{
    font-weight: bold;
    font-size: 20px;
    padding: 12px 6px;
    color: #B2B2B2;
}
.nav-sidebar li a.active{background-color:#eee;color: #333;}
.nav-sidebar li a:hover,.nav-sidebar li a:active{color: #333;background-color:#eee;}
.nav-sidebar li + li{
    border-top: 1px solid #337ab7;
}

/* 主要的显示内容*/
.mainbody{  color: #222; background-color: #fff;padding: 15px; }

 #formSearch  button[type='submit']{background-color:#337ab7;border: 1px solid #337ab7;color: #fff;}
 #formSearch  button[type='submit']:hover{
    box-shadow: 0 0 5px  #337ab7;
    color:#ccc;
    transition: all .2s;}
/*添加按钮*/
.mainbody .add{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #337ab7;   
    outline: none;
    transition:all .5s;
}
/*添加按钮图标*/
.mainbody .add i{
    position: absolute;
    left:12px;
    top:10px;
    display: none;
}
.mainbody .add:hover,
.mainbody .add:active,
.mainbody .add:focus{   
    background-color:#ec1500;
    padding-left:30px; 
}
.mainbody  .add:hover i,
.mainbody  .add:active i,
.mainbody  .add:focus i{
    display: inline-block;
}
/*根据id排序:降序 、升序*/
#listorderId{cursor:pointer;}
#listorderId:hover,#listorderId:active{background: #B2B2B2;}
/*表格样式*/
.mainbody table>thead{background-color: #eee;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align:middle;
}
.mainbody table>thead>tr>th:last-child,.mainbody table>tbody>tr>td:last-child{text-align: center;}
.mainbody table>tbody>tr>td>a{       
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}
.mainbody table>tbody>tr>td>a:hover,.mainbody table>tbody>tr>td>a:active,.mainbody table>tbody>tr>td>a:focus{ color: #F90;}
/*分页*/
.mainbody nav.page-container {  padding-top:5px ;padding-bottom: 5px;}
.mainbody nav .current{display:inline-block; min-width: 25px; background-color:#ec1500;margin-right:8px;padding:0 5px ;color:#fff;text-align: center;}
.mainbody nav .first,
.mainbody nav .end,
.mainbody nav .num,
.mainbody nav .next,
.mainbody nav .prev{display:inline-block;min-width: 25px;margin-right:8px;padding:0 5px; text-align: center;box-shadow:0 0 5px #B2B2B2; }
/*分页结束*/
.mainbody nav .first:hover,
.mainbody nav .end:hover,
.mainbody nav .num:hover,
.mainbody nav .next:hover,
.mainbody nav .prev:hover{background-color:#ec1500;color:#fff;text-decoration: none; }
/*/edit,add 页面的提交按钮*/
.btn-submit{
    max-width: 250px;
    margin:10px auto;
}

.radio-inline:hover{
    color:#ec1500;   
}
.description{
    min-height: 150px;
}
.kindeditor{   
    max-width: 100%;
    min-height:500px; 
}
/*表格状态修改 #updateStatus*/
#updateStatus{cursor: pointer;}
.tab-head{
    background-color: #222;
    border-top: #222 solid 2px;
    font-size: 0;
}
.tab-head span{
    display: inline-block;
    color: #e7d785;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}
.tab-head span:hover{
    background-color: #fff;
    margin-top: -2px;
    border-top: 2px #337ab7 solid;
    border-left: 1px #337ab7 solid;
    color:#222;
}
.tab-head span+span{
    border-left: 1px solid #337ab7;
}
.tab-head span.active{
    background-color: #fff;
    margin-top: -2px;
    border-top: 2px #337ab7 solid;
    border-left: 1px #337ab7 solid;
    color:#222;
}
