<include file="Products/header" />
<include file="Index/nav" />

<div class="container-fluid sm-container ">
    <div class="row flex-container">
        <div class="col-md-6 not-padding flex-item">
            <div class="col-md-12 not-padding clearfix">
                <img class=' f-r img-responsive' src='{$product.img_main}' alt='{$product.name}'>
            </div>
        </div>
        <div class="col-md-6  not-padding flex-item">
            <div class=" col-md-11 col-lg-8 not-padding ">
                <div class=" products-description-left ">
                    <h1 class="products-name">{$product.name}</h1>
                    {$product.description_one}
                    <a class="btn btn-default btn-download"  id="downloadBtn" title ="Download the Installation instructions, specifications"> Downloads </a> 
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-container">
        <div class="col-md-6  not-padding flex-item">
            <div class=" col-md-offset-1 col-md-11 col-lg-offset-4  col-lg-8  not-padding">
                <div class=" products-description-right">
                    {$product.description_two}
                </div>
            </div>
        </div>
        <div class="col-md-6 not-padding flex-item">
            <div class="col-md-12  not-padding clearfix">
                <img class='f-l img-responsive' src='{$product.img_application_one}' alt='{$product.name}'>
            </div>
        </div>
    </div>
    <div class="row flex-container">
        <div class="col-md-6 not-padding flex-item">
            <div class="col-md-12 not-padding clearfix">
                <img class='f-r img-responsive' src='{$product.img_application_two}' alt='{$product.name}'>
            </div>
        </div>
        <div class="col-md-6  not-padding flex-item">
            <div class=" col-md-11 col-lg-8 not-padding">
                <div class="products-description-left">

                    {$product.description_three}

                </div>
            </div>
        </div>
    </div>
</div>

<!--family banner-->
<div class='container'>
    <!--面包屑导航-->
    <div class="row row-block">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/" title="Home"> >>Home</a></li>
                <li><a href="{:U('Products/index')}" title="Products">Products</a></li> 
                <li><a href="{:U('Products/type','id='.$product[type])}" title="{$product.type|getTypeName=$productsType,###}">{$product.type|getTypeName=$productsType,###}</a></li> 
                <li class='active'>{$product.name}</li>
            </ol> 
        </div>
    </div>
    <!--family 内容-->
    <div class='row row-block' >
        <div class='col-sm-12 ' style="overflow: hidden;">
            <button class='btn btn-family'><span>Family</span> <br> <span>Products</span></button>
            <div class="family-container">
                <div style="width: 100%;">
                    <div class="owl-carousel">
                        <foreach name="family" item="vo" >
                            <div class="center-block" style="margin-bottom: 1px;margin-left: 1px;">
                                <a href="{:U('Products/product','id='.$vo[products_id])}" title='{$vo.name}'>   
                                    <img src="{$vo.family_products}" alt="" class="img-responsive">        
                                </a>
                            </div>
                        </foreach>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Technical information-->
    <if condition="$product.img_small_one neq ''">
        <div class="row row-block" id="technical">
            <div class="col-xs-12">
                <div class="Tech-info Tech-info-bg-black">Technical information</div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="center-block">
                    <img class="img-responsive big-img" src="{$product.img_small_one}" alt="{$product.name}" id="bigImg">
                </div>
                <div class="small-img-container">
                    <div class=" small-img">
                        <img class="img-responsive" src="{$product.img_small_one}" alt="{$product.name}">
                    </div>
                    <div class=" small-img">
                        <img class="img-responsive" src="{$product.img_small_two}"  alt="{$product.name}">
                    </div>
                    <div class=" small-img">
                        <img class="img-responsive" src="{$product.img_small_three}" alt="{$product.name}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="features"> 
                    {$product.features}
                </div>  
            </div>
        </div>
    </if>

        <div class="row row-block">
            <if condition="$product.specification_features neq ''">
                <div class="col-sm-6 col-xs-12">
                    <div class="Specification-features">
                        {$product.specification_features}
                    </div>
                </div>
            </if>
            <if condition="$product.data_banner_one neq ''">
                <div class="col-sm-6 col-xs-12">
                    <div style="max-width: 480px;">
                        <div class="owl-carousel-two ">
                            <img src="{$product.data_banner_one}"   alt="led ltechlightng" class="img-responsive hide">
                            <img src="{$product.data_banner_two}"   alt="led ltechlightng" class="img-responsive hide">
                            <img src="{$product.data_banner_three}" alt="led ltechlightng" class="img-responsive hide">
                            <img src="{$product.data_banner_four}"  alt="led ltechlightng" class="img-responsive hide">
                            <img src="{$product.data_banner_five}"  alt="led ltechlightng" class="img-responsive hide">
                        </div>
                    </div>
                </div>
            </if>
        </div>

    <div class="row row-block">
        <div class="col-sm-6 col-xs-12">
            {$product.extra_one}
        </div>
        <div class="col-sm-6 col-xs-12">
            {$product.extra_two}
        </div>
    </div>
    <if condition="$product.type eq 1">
        <div class="row row-block">
            <div class="col-xs-12">
                <div class="Tech-info Tech-info-bg-black">Ordering Information</div>
            </div>
            <div class="col-xs-12">
                <p  style="text-indent: 4px;font-size: 18px;margin-bottom: 30px; font-weight: bold;"> Order Codes: PT-T8-XXX-{$product.name|splitT8}1200&-WI</p>
                <div class="table-responsive">
                    <table class="table ordering-table">
                        <thead>
                            <tr>
                                <th><b>PT</b>(POTO)</th>
                                <th>—</th>
                                <th><b>T8</b>(Type)</th>
                                <th>—</th>
                                <th><b>XXX</b>(Product No)</th>
                                <th>—</th>
                                <th><b style="font-size:12px">{$product.name|splitT8}</b>(Power Consumption)</th>
                                <th>—</th>
                                <th><b>1200</b>(Length)</th>
                                <th>—</th>
                                <th><b>&</b>(Tubular Enclosure Color)</th>
                                <th>—</th>
                                <th><b>W</b>(LED Package Type)</th>                             
                                <th>—</th>
                                <th><b>I</b>(Power Supply Type)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="15"></td>
                            </tr>
                            <tr>
                                <td>PT</td>
                                <td></td>
                                <td>T8</td>
                                <td></td>
                                <td>Any number or letter</td>
                                <td></td>
                                <td>{$product.name|splitT8}W</td>
                                <td></td>
                                <td>1200mm</td>
                                <td></td>
                                <td>F:Frosted cover</td>
                                <td></td>
                                <td>A</td>
                                <td></td>
                                <td>D</td>
                            </tr>
                            <tr>
                                <td colspan="10"></td>

                                <td>T:Transparent cover</td>
                                <td></td>
                                <td>B</td>
                                <td colspan="2"></td>                              
                            </tr>
                            <tr>
                                <td colspan="12"></td>
                                <td>C</td>
                                <td colspan="2"></td>                             
                            </tr>
                            <tr>
                                <td colspan="12"></td>
                                <td>D</td>
                                <td colspan="2"></td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </if>
</div>
<div class="container-fluid" style="background-color: #eee;">
    <div class="row row-block">
        <div class="col-xs-12 text-center">
            <a class='btn btn-download ' href="javascript:showmask();"> Request pricing</a>
            <a class="btn btn-download " href="{:U('Products/index')}"> Other items</a>
        </div>
    </div>
    <!--下载弹窗-->
    <div class="download-box row">
        <volist name='download' id='vo'>
            <div class="col-sm-6">
                <a data-id='{$vo.id}' href="{:U('Download/index',array('id'=>$vo[id]))}" target="_blank"><span class="fa fa-2x {$vo.path|download_file_class}"></span> <p>{$vo.name}</p> </a>
            </div>
        </volist>
                  
    </div>
</div>

<!--遮罩层-->
<div id="mask" onclick="hidemask()"></div>
<!--弹窗-->
<div id="Inquiry">
    <div class="content">
        <span class="btn-close" onclick="hidemask()"></span>
        <div class="title">Please enter your contact information!</div>   
        <form  role="form">
            <div class="form-group">
                <label for="Name" >Name<span>*</span></label>
                <input type="text" class="form-control"  name="Name" id="Name" placeholder="Name"  maxlength="30">
            </div>

            <div class="form-group">
                <label for="Company">Company<span>*</span></label>
                <input type="text" class="form-control"  name="Company" id="Company" placeholder="Company"  maxlength="80">
            </div>

            <div class="form-group row">
                <div class="col-sm-6 ">
                    <label for="Email">E-mail<span>*</span></label>
                    <input type="email" class="form-control"  name="Email" id="Email" placeholder="E-mail"  maxlength="50">
                </div>
                <div class="col-sm-6">
                    <label for="Phone">Phone<span>*</span></label>
                    <input type="tel" class="form-control"  name="Phone" id="Phone" placeholder="Phone"   maxlength="20" >
                </div>
            </div>
            <div class="form-group">
                <label for="Website">Website </label> <span>(for example:http://ltechlighting.com)</span>
                <input type="text" class="form-control"  name="Website" id="Website" placeholder="http://ltechlighting.com"  maxlength="100">
            </div>
            <div class="form-group Demand ">
                <label for="Title" class="m-top">Demand information</label>
                <input type="text" class="form-control"  name="Title" id="Title" value="{$product.name}"  readonly="readonly">
                <span class="Demand-title">Title:</span>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="Content" id="Content" placeholder="Content:"  maxlength="2000"></textarea>
            </div>
            <div class="form-group"><button class="button-submit" id='inqueryBtn'>Inquiry</button></div>

        </form>
    </div>
</div>



<div class="bottom-container">
    <include file="Index/bottom"/>
    <include file="Index/share"/>
</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script>
<script src="__PUBLIC__/js/Home/jquery.goup.js"></script>

<!--本页面特有js 轮播banner插件js-->
<script src="__PUBLIC__/owl.carousel.2.0.0-beta.2.4/owl.carousel.min.js"></script>  

<script src='__PUBLIC__/js/Home/products.js'></script>
<include file="Index/footer"/>