<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{$project.name}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">      
        <meta name="description" content="{$project.description}">
        <meta name="keywords" content="project led lighting linear lights tube t8">      

        <link rel="icon" href="__ROOT__/favicon.ico">

        <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet" >
        <link href="__PUBLIC__/jssocials-1.4.0/dist/jssocials.css" rel="stylesheet" />
        <link href="__PUBLIC__/jssocials-1.4.0/dist/jssocials-theme-flat.css" rel="stylesheet" />

        <!--[if lt IE 9]>
          <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!--自定义的CSS，一定要放在bootstrap后面-->
        <link href="__PUBLIC__/css/common.css" rel="stylesheet" >
        <link href="__PUBLIC__/css/project-news.css" rel="stylesheet" >
    </head>
    <body>
    <include file="Index/nav" />
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive" src="__PUBLIC__/img/home/about-us/about-us_03.jpg"  alt="ltechlighting produce basic">
            </div>
        </div>
        <div class="row row-block">
            <div class="col-xs-12">
                <div class="news-breadcrumb">
                    <a href="/" title="Home">Home</a><span>/</span>
                    <a href="{:U('Index/about')}" title="About us">About us</a><span>/</span>
                    <a href="{:U('Projects/index')}" title="Projects">Projects</a><span>/</span>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-3 ">
                <include file="Projects/lastestproject" />
                <div class="border">
                    <div class="input-container center-block">
                        <input id="searchValue" type="text" class="input-news center-block" value="{$keyword}">
                        <div class="search-icon"><i class="glyphicon glyphicon-search"></i></div>
                    </div>
                    <button id="search" class="btn btn-download btn-news center-block box-shadow" >Search</button>
                    <div class="input-container center-block text-center" style="margin-top: 50px;">
                        <b>CONTACT US BY TELEPHONE</b>

                        <span class="contactus">+86 756-8676220</span>
                    </div>

                </div>    
                <div class="border" style="background-color: #eee;">
                    <div class="input-container center-block text-center">
                        <b>DOWNLOAD OUR CATALOGUE</b>
                    </div>
                    <div class="input-container center-block text-center catalogue-download box-shadow" >
                        <a href='{$catalogue.path}'> <i class="fa fa-file-pdf-o active"></i> 2016 CATALOGUE.PDF</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-lg-9">
                <h1 class="projects-name text-center">{$project.name}</h1>
                <p class='text-center'>Start-time:{$project.start_time} | End-time:{$project.end_time} |<span class="fa fa-eye ">({$project.count})</span></p>
               
                {$project.content}

                <div class="share-box clearfix">
                    <div class="share"><i class="fa fa-share-alt"></i> share</div>
                    <div id="share"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-container">
        <include file="Index/bottom"/>
        <include file="Index/share"/>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/layer/layer.js"></script>
    <script src="__PUBLIC__/js/Home/jquery.goup.js"></script>
    <!--分享功能js插件-->
    <script src="__PUBLIC__/jssocials-1.4.0/dist/jssocials.min.js"></script>
    <script>
        $("#share").jsSocials({
            showLabel: false,
            showCount: false,
            shares: ["facebook","twitter", "googleplus", "linkedin"]
        });
    </script>
    <script>
        var SCOPE = {
            search_url:"{:U('Projects/index')}"
        };
    </script>
    <include file="Index/footer" />