/*解决移动端局部滚动卡顿问题和固定顶部导航菜单*/
body {
    -webkit-overflow-scrolling: touch;
    padding-top: 62px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 124px;
    }
}

/*重写部分bootstrap样式 改写有坑*/
.container, .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/*顶部导航条*/
.container > .navbar-collapse, .container > .navbar-header {
    margin-right: -10px;
    margin-left: -10px;
}

.navbar-header a.navbar-brand {
    width: 147px;
    height: 62px;
    padding: 10px 15px;
    overflow: hidden;
}

.caret:hover, .caret:active, .caret:focus {
    color: #e41930;
}

.btn-submit {
    background: #323232;
    color: #fff;
    border-radius: 0;
}

.btn-submit:hover, .btn-submit:active, .btn-submit:focus, .btn-submit:visited {
    background: #e41930;
    color: #fff;
}

.navbar-form > .input-group > input[type='text'] {
    border-radius: 0;
}

@media (min-width: 768px) {
    .container > .navbar-collapse {
        margin-right: 0;
    }

    .container > .navbar-header {
        margin-right: 0;
        margin-left: 5px;
    }

    .navbar-nav > li > a {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .navbar-default .navbar-nav > li.dropdown a:hover, .navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a.active, .navbar-default .navbar-nav > li:hover .caret {
        color: #e41930;
        background-color: #e7e7e7;
    }

    .nav-form-responsive {
        float: right !important;

    }

    .nav-p-r-0 {
        padding-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .nav-form-responsive {
        float: left !important;
        padding-left: 0;
    }

    .navbar-collapse {
        padding-left: 0;
    }
}

/*公共底部背景图片容器*/
.bottom-container {
    position: relative;
    max-width: 100%;
}
.bottom-container:before{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: ' ';
    background: #323232 url('../img/home/bottom-bg.jpg') 50% 50%;
    background-size: cover;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.bottom-container:hover:before{
    opacity: .8;
    -webkit-filter: blur(3px) ;
    -ms-filter: blur(3px) ;
    filter: blur(3px);
}

/*底部*底部联系信息容器*/
.bottom-info {
    background-color: #212121;
    background-color: rgba(33, 33, 33, .85);
    width: 100%;
    color: #fff;
}

/*office-contact , factory contact*/
.icon-color {
    color: #FDCA17;
}

.m-t-4 {
    margin-top: 40px;
}

.bottom-info .container .row .col-md-6 {
    font-size: 0
}

.bottom-info .title-box {
    display: inline-block;
    font-size: 18px;
    height: 60px;
    width: 75px;
    padding-right: 15px;
    border-right: solid #fdca17 1px;
    vertical-align: middle;
}

.bottom-info .title-box > span {
    display: block;
    line-height: 18px;
}

.bottom-info .title-box > span:first-child {
    margin-top: 12px;
}

.bottom-info .content-box {
    display: inline-block;
    font-size: 12px;
    height: 60px;
    vertical-align: middle;
    padding-left: 20px;
}

.content-box > .content-contact, .location-box {
    display: block;
    font-size: 0;
}

.content-box > .location-box {
    margin-top: 5px;
}

.content-contact > .contact-box {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}

.content-contact > .contact-box + .contact-box {
    margin-left: 30px;
}

.content-contact > .contact-box > .icon-phone {
    width: 18px;
    height: 20px;
    background-image: url("../img/home/phone.png");
    display: inline-block;
    vertical-align: middle;
}

.content-contact > .contact-box > .icon-mail {
    width: 18px;
    height: 20px;
    background-image: url("../img/home/mail.png");
    display: inline-block;
    vertical-align: middle;
}

.location-box > .marker {
    display: inline-block;
    font-size: 12px;
    width: 440px;
    padding-left: 10px;
    margin-bottom: 0;
    vertical-align: middle;
}

.location-box > .icon-location {
    width: 18px;
    height: 20px;
    background-image: url("../img/home/location.png");
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1199px) {
    .location-box > .marker {
        width: 340px;
    }

    .bottom-info .content-box {
        padding-left: 15px;
    }
}

@media screen and (max-width: 490px) {
    .bottom-info .title-box {
        display: block;
        width: 100%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        border-right: none;
        border-bottom: solid #fdca17 1px;
        font-size: 0;
    }

    .bottom-info .title-box > span {
        display: inline-block;
        font-size: 18px;
        margin-left: 10px;
    }

    .bottom-info .title-box > span:first-child {
        margin-top: 0;
    }

    .bottom-info .content-box {
        display: block;
        height: auto;
        margin-top: 10px;
        padding-left: 10px;
    }

    .content-contact > .contact-box {
        display: block;
        margin-bottom: 10px;
    }

    .content-contact > .contact-box + .contact-box {
        margin-left: 0;
    }

    .location-box {
        width: 100%;
    }

    .location-box > .marker {
        width: calc(100% - 20px);
    }

}

/*email-container*/
.email-container {
    max-width: 860px;
    width: 100%;
    margin: 60px auto 30px;
    font-size: 0;
}

.email-container > .newsletter {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    width: 240px;
    height: 32px;
    letter-spacing: 5px;
}

.email-container > .email-collect {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 620px;
    height: 32px;
}

.email-container > .email-collect > .text-box {
    display: inline-block;
    vertical-align: top;
    width: 480px;
    height: 32px;
}

.email-container > .email-collect > .text-box > input {
    border: none;
    border-radius: 0;
    padding: 8px;
    background-image: none;
    background-color: #fff;
    font-size: 14px;
    color: #646464;
    height: 32px;
    width: 100%;
}

.email-container > .email-collect > button {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    margin-left: 10px;
    height: 32px;
    font-size: 14px;
    background-color: #ed2424;
    border: none;
}

.email-container > .email-collect > button:hover, .email-container > .email-collect > button:focus, .email-container > .email-collect > button:active {
    background-color: #dc5353;
}

@media screen and (max-width: 767px) {
    .email-container > .newsletter {
        display: block;
    }

    .email-container > .email-collect {
        display: block;
        width: 100%;
        max-width: 620px;
    }

    .email-container > .email-collect > .text-box {
        display: block;
        float: left;
        max-width: calc(100% - 100px);
    }

    .email-container > .email-collect > button {
        display: block;
        width: 80px;
    }
}

/*底部导航容器bottom-nav-container*/
.bottom-nav-container {
    background-color: #fff;
    color: #646464;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    opacity: .8;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.bottom-nav-container:hover,
.bottom-nav-container:active,
.bottom-nav-container:focus {
    opacity: 1;
}

.bottom-nav-container > .center-box {
    max-width: 750px;
    padding-top: 40px;
    padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .bottom-nav-container .center-box {
        display: none;
    }
}

.nav-item {
    float: left;
    margin-left: 40px;
}

.nav-item a {
    color: #646464;
    text-decoration: none;
}

.nav-item > .item-title a:hover {
    color: #fdca17;
}

.nav-item > .item-title a:hover + .after,
.nav-item > .item-title a:active + .after {
    max-width: 145px;
    width: 100%;
    transition: width 500ms;
}

.nav-item a:hover, .nav-item a:active {
    color: #fdca17;
}

.nav-item > .item-title {
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.nav-item > .item-title > .after {
    display: block;
    width: 15px;
    height: 1px;
    background-color: #fdca17;
    transition: width 500ms;
}

.nav-item > .item-content {
    padding-left: 0;
    list-style-type: none;
    font-size: 12px;
}

.nav-item > .item-content > li {
    height: 30px;
    line-height: 30px;
}

/*底部copyright 与 5个社交链接*/
.bottom {
    width: 100%;
    font-size: 12px;
    background-color: #fff;
    min-height: 60px;
    vertical-align: middle;
}

.bottom .copyright {
    height: 60px;
    margin-bottom: 0;
    line-height: 60px;
    color: #646464;
}
@media screen and (max-width: 480px) {
    .bottom .copyright {font-size: 10px;}
}
.bottom .bottom-share {
    float: right;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
}

.bottom .bottom-share .share-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
}

.bottom .bottom-share .share-icon:hover, .bottom .bottom-share .share-icon:active {
    color: #646464;
}

.bottom .bottom-share .share-icon + .share-icon {
    margin-left: 20px;
}

.bottom .bottom-share .facebook {
    background-color: #3289da;
}

.bottom .bottom-share .twitter {
    background-color: #00aced;
}

.bottom .bottom-share .youtube {
    background-color: #c61614;
}

.bottom .bottom-share .linkedin {
    background-color: #0077b5;
}

.bottom .bottom-share .skype {
    background-color: #00aff0;
}

/*skype按钮和返回顶部按钮*/
#SkypeButton_Call_ltechlighting_1 {
    z-index: 100;
}

#SkypeButton_Call_ltechlighting_1_paraElement > a > img {
    display: block;
    width: 40px;
    max-width: 100%;
}

#SkypeButton_Call_ltechlighting_1_paraElement > a > img:hover {
    box-shadow: 1px 1px 5px #aaa, -1px 1px 5px #aaa;
}

/*---------------公用部分css------------*/
.f-l {
    float: left;
}

.f-r {
    float: right;
}

.m-b-0 {
    margin-bottom: 0;
}

em {
    font-weight: normal;
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

.row-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*图片样式*/
.thumbnail-bg {
    background-color: #fff;
    padding: 0;
    border-radius: 0;
    position: relative;
    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -ms-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

.thumbnail-bg:hover, .thumbnail-bg:active, .thumbnail-bg:focus {
    -webkit-box-shadow: 0 5px 10px rgba(100, 100, 100, .3);
    -moz-box-shadow: 0 5px 10px rgba(100, 100, 100, .3);
    box-shadow: 0 5px 10px rgba(100, 100, 100, .3);
}

.thumbnail-bg > .caption > a.view {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px 15px;
    color: #666;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #ccc;
    text-decoration: none;
}

.thumbnail-bg > .caption > span.name {
    font-size: 2rem;
    color: #646464;
    font-weight: bold;
    margin-right: 100px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .thumbnail-bg > .caption > span.name {
        font-size: 1.8rem;
    }
}

.thumbnail-bg > .caption > a.view:hover, .thumbnail-bg > .caption > a.view:active {
    background-color: #323232;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .col-xxs-thumbnail-width {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .col-xxs-thumbnail-width .xxs-thumbnail-width {
        max-width: 370px;
    }
}

/*面包屑导航*/
.breadcrumb {
    border-radius: 0;
    font-size: 18px;
}

.breadcrumb li > a {
    color: #666;
    text-decoration: none;
}

.breadcrumb li.active, .breadcrumb li > a:hover, .breadcrumb li > a:active, .breadcrumb li > a:focus {
    color: #e41930;
}

@media screen and (max-width: 767px) {
    /*面包屑导航*/
    .breadcrumb {
        font-size: 14px;
    }
}

/*黑色按钮样式*/
.btn-download {
    position: relative;
    border: none;
    border-radius: 0;
    background-color: #212121;
    color: #fff;
    box-shadow: 0 5px 10px rgba(100, 100, 100, .6);
    transition: all .5s ;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    overflow: hidden;
}
.btn-download:after{
    position: absolute;
    display: block;
    content: '';
    width: 15px;
    height: 100%;
    top: 0;
    left: -15px;
    background-color: rgba(238,238,238,.3);
    transform: skew(-25deg);
    animation: btn-mirror 5s linear infinite;
}
@keyframes btn-mirror {
    0% {opacity: 0;left: -20px;}
    5% {opacity: 1;left: 0;}
    25% {opacity: 0;left: 100%;}
    100% { opacity:0;left: 100%;}

}

.btn-download + .btn-download {
    margin-left: 20px;
}

.btn-download:hover, .btn-download:active, .btn-download:focus {
    background-color: #e41930;
    color: #fff;
}
@media screen and (min-width: 992px) {
    .btn-download {
        margin-bottom: 10px;
    }
}

/* 阴影效果*/
.box-shadow {
    box-shadow: 0 5px 10px rgba(100, 100, 100, .2);
    -webkit-transition: box-shadow 500ms;
    -moz-transition: box-shadow 500ms;
    -ms-transition: box-shadow 500ms;
    -o-transition: box-shadow 500ms;
    transition: box-shadow 500ms;
}

.box-shadow:hover {
    box-shadow: 0 5px 10px rgba(100, 100, 100, .5);
}

/*搜索的分页*/
.page {
    margin-top: 100px;
    margin-bottom: 160px;
    position: relative;
    min-height: 1px;
}

@media screen and (max-width: 767px) {
    .page {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.page div {
    position: absolute;
    right: 0;
}

.current {
    display: inline-block;
    background-color: #323232;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
}

.first, .end, .num, .next, .prev {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    box-shadow: 0 1px 1px #B2B2B2;
    background-color: #f5f5f5;
}

/*分页结束*/
.first:hover, .end:hover, .num:hover, .next:hover, .prev:hover {
    background-color: #323232;
    color: #fff;
    text-decoration: none;
}