/*本css已经拆分到各个模板的style标签中和common.css与及projects-news.css，不用再引用本css*/
body {
    -webkit-overflow-scrolling: touch;
    padding-top: 62px
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 124px
    }
}

.container, .container-fluid {
    padding-left: 10px;
    padding-right: 10px
}

.row {
    margin-left: -10px;
    margin-right: -10px
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px
}

.f-l {
    float: left
}

.f-r {
    float: right
}

em {
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-decoration: none
}

.container > .navbar-collapse, .container > .navbar-header {
    margin-right: -10px;
    margin-left: -10px
}

.navbar-header a.navbar-brand {
    width: 147px;
    height: 62px;
    padding: 10px 15px;
    overflow: hidden
}

.caret:active, .caret:focus, .caret:hover {
    color: #e41930
}

.btn-submit {
    background: #323232;
    color: #fff;
    border-radius: 0
}

.btn-submit:active, .btn-submit:focus, .btn-submit:hover, .btn-submit:visited {
    background: #e41930;
    color: #fff
}

.navbar-form > .input-group > input[type=text] {
    border-radius: 0
}

@media (min-width: 768px) {
    .container > .navbar-collapse {
        margin-right: 0
    }

    .container > .navbar-header {
        margin-right: 0;
        margin-left: 5px
    }

    .navbar-nav > li > a {
        padding-top: 21px;
        padding-bottom: 21px
    }

    .navbar-default .navbar-nav > li a.active, .navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li.dropdown a:hover, .navbar-default .navbar-nav > li:hover .caret {
        color: #e41930;
        background-color: #e7e7e7
    }

    .nav-form-responsive {
        float: right !important
    }

    .nav-p-r-0 {
        padding-right: 0
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .nav-form-responsive {
        float: left !important;
        padding-left: 0
    }

    .navbar-collapse {
        padding-left: 0
    }
}

.banner-container {
    max-width: 100%
}

.banner-container .banner {
    max-height: 550px;
    overflow: hidden
}

.m-b-0 {
    margin-bottom: 0
}

.advcontainer > .adv-left-box > .adv-item, .advcontainer > .adv-right-box, .bottom-container > .item-container > .item {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    transition: all .7s
}

.advcontainer > .adv-left-box > .adv-item:active, .advcontainer > .adv-left-box > .adv-item:hover, .advcontainer > .adv-right-box:active, .advcontainer > .adv-right-box:hover, .bottom-container > .item-container > .item:active, .bottom-container > .item-container > .item:hover {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
    transform: scale(1.02)
}

.advcontainer > .adv-left-box > .adv-item figcaption p {
    margin-bottom: 6px
}

.advcontainer > .adv-right-box > figcaption p {
    margin-bottom: 8px
}

.advcontainer > .adv-left-box > .adv-item > figcaption p.text-capitalize {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 40px;
    overflow: hidden
}

@media screen and (min-width: 80em) {
    .advcontainer {
        max-width: 1150px;
        padding-bottom: 35px;
        padding-top: 20px
    }

    .advcontainer > .adv-left-box {
        float: left;
        max-width: 640px
    }

    .advcontainer > .adv-left-box > .adv-item {
        float: left;
        max-width: 300px;
        max-height: 300px;
        background-color: #fff;
        position: relative;
        margin: 0 20px 20px 0;
        overflow: hidden
    }

    .advcontainer > .adv-left-box > .adv-item figcaption {
        position: absolute;
        left: 10px;
        bottom: 10%;
        right: 10px
    }

    .advcontainer > .adv-left-box > .adv-item figcaption p.title {
        font-weight: 700
    }

    .advcontainer > .adv-right-box {
        float: left;
        position: relative;
        max-width: 510px;
        background-color: #fff
    }

    .advcontainer > .adv-right-box figcaption {
        position: absolute;
        left: 10px;
        bottom: 20%;
        right: 10px
    }

    .advcontainer > .adv-right-box figcaption p.title {
        color: #c4a03f;
        font-weight: 700;
        font-size: 20px
    }
}

@media screen and (min-width: 50em) and (max-width: 79.99em) {
    .advcontainer {
        max-width: 90%;
        padding-bottom: 35px;
        padding-top: 20px
    }

    .advcontainer > .adv-left-box {
        float: left;
        max-width: 55.65%
    }

    .advcontainer > .adv-left-box > .adv-item {
        float: left;
        max-width: calc(50% - 15px);
        max-width: -webkit-calc(50% - 15px);
        max-width: -moz-calc(50% - 15px);
        max-width: -o-calc(50% - 15px);
        max-width: -ms-calc(50% - 15px);
        max-height: calc(50% - 15px);
        max-height: -webkit-calc(50% - 15px);
        max-height: -moz-calc(50% - 15px);
        max-height: -o-calc(50% - 15px);
        max-height: -ms-calc(50% - 15px);
        background-color: #fff;
        position: relative;
        margin: 0 15px 15px 0
    }

    .advcontainer > .adv-left-box > .adv-item figcaption {
        position: absolute;
        left: 10px;
        bottom: 5%;
        right: 10px
    }

    .advcontainer > .adv-left-box > .adv-item figcaption p.title {
        font-weight: 700
    }

    .advcontainer > .adv-right-box {
        float: left;
        position: relative;
        max-width: 44.35%;
        background-color: #fff
    }

    .advcontainer > .adv-right-box figcaption {
        position: absolute;
        left: 10px;
        bottom: 20%;
        right: 10px
    }

    .advcontainer > .adv-right-box figcaption p.title {
        color: #c4a03f;
        font-weight: 700;
        font-size: 20px
    }
}

@media screen and (min-width: 30em) and (max-width: 49.99em) {
    .advcontainer {
        max-width: 90%;
        width: 640px;
        padding-bottom: 35px;
        padding-top: 20px
    }

    .advcontainer > .adv-left-box {
        max-width: 100%;
        margin-left: 15px
    }

    .advcontainer > .adv-left-box > .adv-item {
        float: left;
        max-width: calc(50% - 15px);
        max-width: -webkit-calc(50% - 15px);
        max-width: -moz-calc(50% - 15px);
        max-width: -o-calc(50% - 15px);
        max-width: -ms-calc(50% - 15px);
        max-height: calc(50% - 15px);
        max-height: -webkit-calc(50% - 15px);
        max-height: -moz-calc(50% - 15px);
        max-height: -o-calc(50% - 15px);
        max-height: -ms-calc(50% - 15px);
        background-color: #fff;
        position: relative;
        margin: 0 15px 15px 0
    }

    .advcontainer > .adv-left-box > .adv-item figcaption {
        position: absolute;
        left: 10px;
        bottom: 5%;
        right: 10px
    }

    .advcontainer > .adv-left-box > .adv-item figcaption p.title {
        font-weight: 700
    }

    .advcontainer > .adv-right-box {
        position: relative;
        max-width: 100%;
        background-color: #fff;
        margin-left: 15px;
        margin-right: 15px
    }

    .advcontainer > .adv-right-box figcaption {
        position: absolute;
        left: 10px;
        bottom: 20%;
        right: 10px
    }

    .advcontainer > .adv-right-box figcaption p.title {
        color: #c4a03f;
        font-weight: 700;
        font-size: 20px
    }
}

@media screen and (max-width: 29.99em) {
    .advcontainer {
        max-width: 100%;
        padding-bottom: 20px;
        padding-top: 20px
    }

    .advcontainer > .adv-left-box {
        max-width: 100%;
        margin-left: 10px
    }

    .advcontainer > .adv-left-box > .adv-item {
        float: left;
        max-width: calc(50% - 10px);
        max-width: -webkit-calc(50% - 10px);
        max-width: -moz-calc(50% - 10px);
        max-width: -o-calc(50% - 10px);
        max-width: -ms-calc(50% - 10px);
        max-height: calc(50% - 10px);
        max-height: -webkit-calc(50% - 10px);
        max-height: -moz-calc(50% - 10px);
        max-height: -o-calc(50% - 10px);
        max-height: -ms-calc(50% - 10px);
        background-color: #fff;
        position: relative;
        margin: 0 10px 10px 0
    }

    .advcontainer > .adv-left-box > .adv-item figcaption {
        position: absolute;
        left: 10px;
        bottom: 5%;
        right: 10px
    }

    .advcontainer > .adv-left-box > .adv-item figcaption p.title {
        font-weight: 700
    }

    .advcontainer > .adv-left-box > .adv-item figcaption p.text-capitalize {
        display: none
    }

    .advcontainer > .adv-right-box {
        position: relative;
        max-width: 100%;
        background-color: #fff;
        margin-left: 10px;
        margin-right: 10px
    }

    .advcontainer > .adv-right-box figcaption {
        position: absolute;
        left: 10px;
        bottom: 20%;
        right: 10px
    }

    .advcontainer > .adv-right-box figcaption p.title {
        color: #c4a03f;
        font-weight: 700;
        font-size: 20px
    }
}

.bottom-container {
    max-width: 100%;
    background-size: cover;
    background: #323232 url(../img/home/bottom-bg.jpg) 50% 50%
}

.bottom-container > .item-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.item-container > .item > .content > a.btn:active, .item-container > .item > .content > a.btn:focus, .item-container > .item > .content > a.btn:hover {
    background-color: #ed2424;
    color: #fff
}

.item-container > .catalogue-item {
    padding: 0 !important;
    background: url(../img/home/catalogue.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover
}

.item-container > .catalogue-item .catalogue-img {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0
}

.bottom-container > .item-container > .item {
    font-size: 0
}

.bottom-container > .item-container > .item > .content, .bottom-container > .item-container > .item > .img-box {
    font-size: 14px
}

@media screen and (min-width: 80em) {
    .bottom-container > .item-container > .item {
        width: calc((100% - 60px) / 4);
        width: -moz-calc((100% - 60px) / 4);
        width: -webkit-calc((100% - 60px) / 4);
        width: -o-calc((100% - 60px) / 4);
        width: -ms-calc((100% - 60px) / 4);
        min-height: 235px;
        background-color: #fafafa;
        display: block;
        float: left;
        padding: 30px 20px;
        position: relative
    }

    .bottom-container > .item-container > .item + .item {
        margin-left: 20px
    }

    .item-container > .item > img.new {
        position: absolute;
        left: 0;
        top: 0
    }

    .item-container > .item > .img-box {
        max-width: calc(50% - 15px);
        max-height: 190px;
        overflow: hidden;
        display: inline-block
    }

    .item-container > .item > .content {
        display: inline-block;
        max-width: 50%;
        min-height: calc(100% - 60px);
        vertical-align: top;
        margin-left: 15px
    }

    .item-container > .item > .content .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        margin-top: 0;
        margin-bottom: 20px
    }

    .item-container > .item > .content .name {
        color: #fa1d1d;
        font-size: 12px;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 34px;
        overflow: hidden
    }

    .item-container > .item > .content .description {
        font-size: 12px;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        max-height: 51px;
        overflow: hidden
    }

    .item-container > .item > .content .date {
        font-size: 12px;
        font-weight: 700
    }

    .item-container > .item > .content > a.btn {
        display: block;
        position: absolute;
        bottom: 35px;
        left: 50%;
        font-size: 12px;
        color: #646464;
        height: 26px;
        line-height: 22px;
        border: 1px solid #ed2424;
        border-radius: 0;
        outline: 0;
        background-color: #fff;
        padding: 2px 10px
    }
}

@media screen and (min-width: 50em) and (max-width: 79.99em) {
    .bottom-container > .item-container {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto
    }

    .bottom-container > .item-container > .item {
        width: calc((100% - 20px) / 2);
        width: -moz-calc((100% - 20px) / 2);
        width: -webkit-calc((100% - 20px) / 2);
        width: -o-calc((100% - 20px) / 2);
        width: -ms-calc((100% - 20px) / 2);
        background-color: #fafafa;
        min-height: 235px;
        display: block;
        float: left;
        position: relative;
        padding: 30px 20px
    }

    .bottom-container > .item-container > .item:nth-of-type(even) {
        margin-left: 20px
    }

    .bottom-container > .item-container > .item:nth-child(3), .bottom-container > .item-container > .item:nth-child(4) {
        margin-top: 20px
    }

    .item-container > .item > img.new {
        position: absolute;
        left: 0;
        top: 0
    }

    .item-container > .item > .img-box {
        max-width: calc(50% - 15px);
        max-height: 190px;
        overflow: hidden;
        display: inline-block
    }

    .item-container > .item > .content {
        display: inline-block;
        max-width: 50%;
        min-height: calc(100% - 60px);
        vertical-align: top;
        margin-left: 15px
    }

    .item-container > .item > .content .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        margin-top: 0;
        margin-bottom: 20px
    }

    .item-container > .item > .content .name {
        color: #fa1d1d;
        font-size: 12px;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 34px;
        overflow: hidden
    }

    .item-container > .item > .content .description {
        font-size: 12px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-break: break-all;
        -webkit-line-clamp: 3;
        max-height: 51px;
        overflow: hidden
    }

    .item-container > .item > .content .date {
        font-size: 12px;
        font-weight: 700
    }

    .item-container > .item > .content > a.btn {
        display: block;
        position: absolute;
        bottom: 35px;
        left: 50%;
        min-width: 142px;
        font-size: 12px;
        color: #646464;
        height: 26px;
        line-height: 22px;
        border: 1px solid #ed2424;
        border-radius: 0;
        outline: 0;
        background-color: #fff;
        padding: 2px 10px
    }
}

@media screen and (min-width: 30em) and (max-width: 49.99em) {
    .bottom-container > .item-container {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto
    }

    .bottom-container > .item-container > .item {
        width: calc((100% - 20px) / 2);
        width: -moz-calc((100% - 20px) / 2);
        width: -webkit-calc((100% - 20px) / 2);
        width: -o-calc((100% - 20px) / 2);
        width: -ms-calc((100% - 20px) / 2);
        background-color: #fafafa;
        min-height: 235px;
        display: block;
        float: left;
        position: relative;
        padding: 30px 20px
    }

    .bottom-container > .item-container > .item:nth-of-type(even) {
        margin-left: 20px
    }

    .bottom-container > .item-container > .item:nth-child(3), .bottom-container > .item-container > .item:nth-child(4) {
        margin-top: 20px
    }

    .item-container > .item > img.new {
        position: absolute;
        left: 0;
        top: 0
    }

    .item-container > .item > .img-box {
        max-width: calc(50% - 15px);
        max-height: 190px;
        overflow: hidden;
        display: inline-block
    }

    .item-container > .item > .content {
        display: inline-block;
        max-width: 50%;
        min-height: calc(100% - 60px);
        vertical-align: top;
        margin-left: 15px
    }

    .item-container > .item > .content .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        margin-top: 0;
        margin-bottom: 20px
    }

    .item-container > .item > .content .name {
        color: #fa1d1d;
        font-size: 12px;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 34px;
        overflow: hidden
    }

    .item-container > .item > .content .description {
        font-size: 12px;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        max-height: 51px;
        overflow: hidden
    }

    .item-container > .item > .content .date {
        font-size: 12px;
        font-weight: 700
    }

    .item-container > .item > .content > a.btn {
        position: absolute;
        right: 10%;
        bottom: 10%;
        min-width: 135px;
        font-size: 12px;
        color: #646464;
        border: 1px solid #ed2424;
        border-radius: 0;
        outline: 0;
        background-color: #fff;
        padding: 0 6px;
        display: block
    }
}

@media screen and (max-width: 29.99em) {
    .bottom-container > .item-container {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: auto;
        margin-right: auto
    }

    .bottom-container > .item-container > .item {
        width: calc(100% - 40px);
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: -o-calc(100% - 40px);
        width: -ms-calc(100% - 40px);
        background-color: #fafafa;
        display: block;
        position: relative;
        padding: 30px 20px;
        margin-left: auto;
        margin-right: auto
    }

    .bottom-container > .item-container > .item + .item {
        margin-top: 20px
    }

    .item-container > .item > img.new {
        position: absolute;
        left: 0;
        top: 0
    }

    .item-container > .item > .img-box {
        max-width: calc(50% - 15px);
        max-height: 190px;
        overflow: hidden;
        display: inline-block
    }

    .item-container > .item > .content {
        display: inline-block;
        max-width: 50%;
        min-height: calc(100% - 60px);
        vertical-align: top;
        margin-left: 15px
    }

    .item-container > .item > .content .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.1;
        margin-top: 0;
        margin-bottom: 20px
    }

    .item-container > .item > .content .name {
        color: #fa1d1d;
        font-size: 12px;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden
    }

    .item-container > .item > .content .description {
        font-size: 12px;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden
    }

    .item-container > .item > .content .date {
        font-size: 12px;
        font-weight: 700
    }

    .item-container > .item > .content > a.btn {
        width: 135px;
        font-size: 12px;
        color: #646464;
        border: 1px solid #ed2424;
        border-radius: 0;
        outline: 0;
        background-color: #fff;
        padding: 0 6px;
        margin-top: 20px;
        display: block
    }
}

.bottom-info {
    background-color: #212121;
    background-color: rgba(33, 33, 33, .85);
    width: 100%;
    color: #fff
}

.icon-color {
    color: #FDCA17
}

.m-t-4 {
    margin-top: 40px
}

.bottom-info .container .row .col-md-6 {
    font-size: 0
}

.bottom-info .title-box {
    display: inline-block;
    font-size: 18px;
    height: 60px;
    width: 75px;
    padding-right: 15px;
    border-right: solid #fdca17 1px;
    vertical-align: middle
}

.bottom-info .title-box > span {
    display: block;
    line-height: 18px
}

.bottom-info .title-box > span:first-child {
    margin-top: 12px
}

.bottom-info .content-box {
    display: inline-block;
    font-size: 12px;
    height: 60px;
    vertical-align: middle;
    padding-left: 20px
}

.content-box > .content-contact, .location-box {
    display: block;
    font-size: 0
}

.content-box > .location-box {
    margin-top: 5px
}

.content-contact > .contact-box {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle
}

.content-contact > .contact-box + .contact-box {
    margin-left: 30px
}

.content-contact > .contact-box > .icon-phone {
    width: 18px;
    height: 20px;
    background-image: url(../img/home/phone.png);
    display: inline-block;
    vertical-align: middle
}

.content-contact > .contact-box > .icon-mail {
    width: 18px;
    height: 20px;
    background-image: url(../img/home/mail.png);
    display: inline-block;
    vertical-align: middle
}

.location-box > .marker {
    display: inline-block;
    font-size: 12px;
    width: 440px;
    padding-left: 10px;
    margin-bottom: 0;
    vertical-align: middle
}

.location-box > .icon-location {
    width: 18px;
    height: 20px;
    background-image: url(../img/home/location.png);
    display: inline-block;
    vertical-align: middle
}

@media screen and (max-width: 1199px) {
    .location-box > .marker {
        width: 345px
    }

    .bottom-info .content-box {
        padding-left: 15px
    }
}

@media screen and (max-width: 480px) {
    .bottom-info .title-box {
        display: block;
        width: 100%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        border-right: none;
        border-bottom: solid #fdca17 1px;
        font-size: 0
    }

    .bottom-info .title-box > span {
        display: inline-block;
        font-size: 18px;
        margin-left: 10px
    }

    .bottom-info .title-box > span:first-child {
        margin-top: 0
    }

    .bottom-info .content-box {
        display: block;
        height: auto;
        margin-top: 10px;
        padding-left: 10px
    }

    .content-contact > .contact-box {
        display: block;
        margin-bottom: 10px
    }

    .content-contact > .contact-box + .contact-box {
        margin-left: 0
    }

    .location-box {
        width: 100%
    }

    .location-box > .marker {
        width: calc(100% - 20px)
    }
}

.email-container {
    max-width: 860px;
    width: 100%;
    margin: 60px auto 30px;
    font-size: 0
}

.email-container > .newsletter {
    display: inline-block;
    font-size: 22px;
    width: 240px;
    height: 32px;
    letter-spacing: 5px
}

.email-container > .email-collect {
    display: inline-block;
    font-size: 0;
    width: 620px;
    height: 32px
}

.email-container > .email-collect > .text-box {
    display: inline-block;
    width: 480px;
    height: 32px
}

.email-container > .email-collect > .text-box > input {
    border: none;
    border-radius: 0;
    padding: 8px;
    background-image: none;
    background-color: #fff;
    font-size: 14px;
    color: #646464;
    height: 32px;
    width: 100%
}

.email-container > .email-collect > button {
    display: inline-block;
    width: 130px;
    margin-left: 10px;
    height: 32px;
    font-size: 14px;
    background-color: #ed2424;
    border: none
}

.email-container > .email-collect > button:active, .email-container > .email-collect > button:focus, .email-container > .email-collect > button:hover {
    background-color: #dc5353
}

@media screen and (max-width: 767px) {
    .email-container > .newsletter {
        display: block
    }

    .email-container > .email-collect {
        display: block;
        width: 100%;
        max-width: 620px
    }

    .email-container > .email-collect > .text-box {
        display: block;
        float: left;
        max-width: calc(100% - 120px)
    }

    .email-container > .email-collect > button {
        display: block;
        width: 110px
    }
}

.bottom-nav-container {
    background-color: #fff;
    color: #646464;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
    opacity: .9
}

.bottom-nav-container:active, .bottom-nav-container:focus, .bottom-nav-container:hover {
    opacity: 1
}

.bottom-nav-container > .center-box {
    max-width: 750px;
    padding-top: 40px;
    padding-bottom: 50px
}

@media screen and (max-width: 767px) {
    .bottom-nav-container .center-box {
        display: none
    }
}

.nav-item {
    float: left;
    margin-left: 40px
}

.nav-item a {
    color: #646464;
    text-decoration: none
}

.nav-item > .item-title a:hover {
    color: #fdca17
}

.nav-item > .item-title a:active + .after, .nav-item > .item-title a:hover + .after {
    max-width: 145px;
    width: 100%;
    transition: width .5s
}

.nav-item a:active, .nav-item a:hover {
    color: #fdca17
}

.nav-item > .item-title {
    font-weight: 700;
    font-size: 14px;
    height: 30px;
    line-height: 30px
}

.nav-item > .item-title > .after {
    display: block;
    width: 15px;
    height: 1px;
    background-color: #fdca17;
    transition: width .5s
}

.nav-item > .item-content {
    padding-left: 0;
    list-style-type: none;
    font-size: 12px
}

.nav-item > .item-content > li {
    height: 30px;
    line-height: 30px
}

.bottom {
    width: 100%;
    font-size: 12px;
    background-color: #fff;
    min-height: 60px;
    vertical-align: middle
}

.bottom .copyright {
    height: 60px;
    line-height: 60px;
    color: #646464;
    margin-bottom: 0
}

.bottom .bottom-share {
    float: right;
    height: 60px;
    vertical-align: middle;
    line-height: 60px
}

.bottom .bottom-share .share-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    vertical-align: middle
}

.bottom .bottom-share .share-icon:active, .bottom .bottom-share .share-icon:hover {
    color: #646464
}

.bottom .bottom-share .share-icon + .share-icon {
    margin-left: 20px
}

.bottom .bottom-share .facebook {
    background-color: #3289da
}

.bottom .bottom-share .twitter {
    background-color: #00aced
}

.bottom .bottom-share .youtube {
    background-color: #c61614
}

.bottom .bottom-share .linkedin {
    background-color: #0077b5
}

.bottom .bottom-share .skype {
    background-color: #00aff0
}

#SkypeButton_Call_ltechlighting_1 {
    z-index: 100
}

#SkypeButton_Call_ltechlighting_1_paraElement > a > img {
    display: block;
    width: 40px;
    max-width: 100%
}

#SkypeButton_Call_ltechlighting_1_paraElement > a > img:hover {
    box-shadow: 1px 1px 5px #aaa, -1px 1px 5px #aaa
}

.introduce-container {
    width: 100%;
    margin: 20px 0;
    background-color: #eee
}

@media screen and (min-width: 992px) {
    .introduce {
        background-color: #FFF;
        -webkit-box-shadow: 0 0 10px #CCC;
        -moz-box-shadow: 0 0 10px #CCC;
        box-shadow: 2px 2px 5px #999;
        padding: 40px 50px;
        margin: 35px 20px 20px -60px
    }

    .md-width {
        margin: 15px auto
    }

    .introduce .more {
        display: none
    }

    .sm-text-justify {
        text-align: justify
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .introduce {
        background-color: #FFF;
        -webkit-box-shadow: 0 0 10px #CCC;
        -moz-box-shadow: 0 0 10px #CCC;
        box-shadow: 2px 2px 5px #999;
        padding: 30px 40px;
        margin: -150px 20px 20px 13px
    }

    .md-width {
        width: 100%;
        margin: 10px auto
    }

    .introduce .more {
        display: none
    }

    .sm-text-justify {
        text-align: justify
    }
}

@media screen and (max-width: 767px) {
    .introduce {
        position: relative;
        background-color: #FFF;
        -webkit-box-shadow: 0 0 10px #CCC;
        -moz-box-shadow: 0 0 10px #CCC;
        -ms-box-shadow: 0 0 10px #CCC;
        -o-box-shadow: 0 0 10px #CCC;
        box-shadow: 2px 2px 5px #999;
        padding: 30px 40px;
        margin: -35% 20px 20px 13px;
        font-size: 14px
    }

    .introduce .more {
        display: none
    }

    .max-h {
        max-height: 340px;
        word-break: break-all;
        overflow: hidden
    }

    .md-width {
        width: 100%;
        margin: 10px auto
    }

    .sm-text-justify {
        text-align: justify
    }
}

@media screen and (max-width: 705px) {
    .introduce {
        padding: 20px 20px;
        margin: -35% 0 20px 0;
        font-size: 14px
    }

    .introduce .more {
        display: block;
        padding-right: 20px;
        text-align: right;
        line-height: 20px;
        width: 100%;
        height: 20px;
        background: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 10px;
        color: red;
        cursor: pointer
    }

    .introduce .more:hover {
        text-decoration: underline
    }

    .sm-text-justify {
        text-align: left
    }
}

.owl-nav-container {
    position: relative
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%)
}

.owl-nav .owl-next, .owl-nav .owl-prev {
    position: relative;
    color: #d0c8ba;
    cursor: pointer
}

.owl-nav .owl-next .fa-angle-right, .owl-nav .owl-prev .fa-angle-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.owl-nav .owl-prev .fa-angle-left {
    left: -20px
}

.owl-nav .owl-next .fa-angle-right {
    right: -20px
}

@media screen and (max-width: 800px) {
    .owl-nav {
        z-index: 99
    }

    .owl-nav .owl-prev .fa-angle-left {
        left: 10px;
        background-color: rgba(150, 150, 150, .6)
    }

    .owl-nav .owl-next .fa-angle-right {
        right: 10px;
        background-color: rgba(150, 150, 150, .6)
    }
}

.row-block {
    margin-top: 30px;
    margin-bottom: 30px
}

h1.products-title {
    color: #fff;
    background-color: #212121;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700
}

h2.products-type-title {
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1
}

h2.products-type-title a {
    color: #666;
    text-decoration: none
}

h2.products-type-title a:active, h2.products-type-title a:hover {
    color: #e41930
}

.thumbnail-bg {
    background-color: #fff;
    padding: 0;
    border-radius: 0;
    position: relative;
    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -ms-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    transition: box-shadow .5s
}

.thumbnail-bg:active, .thumbnail-bg:focus, .thumbnail-bg:hover {
    -webkit-box-shadow: 0 5px 10px rgba(100, 100, 100, .3);
    -moz-box-shadow: 0 5px 10px rgba(100, 100, 100, .3);
    box-shadow: 0 5px 10px rgba(100, 100, 100, .3)
}

.thumbnail-bg > .caption > a.view {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px 15px;
    color: #666;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #ccc;
    text-decoration: none
}

.thumbnail-bg > .caption > span.name {
    font-size: 2rem;
    color: #646464;
    font-weight: 700;
    margin-right: 100px
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .thumbnail-bg > .caption > span.name {
        font-size: 1.8rem
    }
}

.thumbnail-bg > .caption > a.view:active, .thumbnail-bg > .caption > a.view:hover {
    background-color: #323232;
    color: #fff
}

@media screen and (max-width: 480px) {
    .col-xxs-thumbnail-width {
        width: 100%;
        margin-left: auto;
        margin-right: auto
    }

    .col-xxs-thumbnail-width .xxs-thumbnail-width {
        max-width: 370px
    }
}

.breadcrumb {
    border-radius: 0;
    font-size: 18px
}

.breadcrumb li > a {
    color: #666;
    text-decoration: none
}

.breadcrumb li.active, .breadcrumb li > a:active, .breadcrumb li > a:focus, .breadcrumb li > a:hover {
    color: #e41930
}

h2.type-title {
    color: #646464;
    font-weight: 500;
    font-size: 3rem
}

p.type-introduce {
    text-align: justify
}

@media screen and (max-width: 767px) {
    .breadcrumb {
        font-size: 14px
    }

    h2.type-title {
        font-size: 2rem
    }

    p.type-introduce {
        text-align: left
    }
}

h1.products-name {
    font-weight: 700;
    font-size: 20px;
    color: #646464
}

.btn-download {
    border: none;
    border-radius: 0;
    background-color: #212121;
    color: #fff
}

.btn-download + .btn-download {
    margin-left: 20px
}

.btn-download:active, .btn-download:focus, .btn-download:hover {
    background-color: #e41930;
    color: #fff
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .sm-container {
        max-width: 770px;
        margin-left: auto;
        margin-right: auto
    }
}

.flex-item {
    margin-top: 10px;
    margin-bottom: 10px
}

@media screen and (min-width: 992px) {
    .flex-container {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        -webkit-align-items: center
    }

    .flex-item {
        float: none !important;
        margin-top: 0;
        margin-bottom: 0
    }

    .products-description-right {
        margin-right: 50px
    }

    .products-description-left {
        margin-left: 50px
    }

    .not-padding {
        padding-left: 0;
        padding-right: 0
    }

    .btn-download {
        margin-bottom: 10px
    }
}

.btn-family {
    display: block;
    float: left;
    margin-right: 10px;
    padding: 56px 45px;
    background-color: #fff;
    border-radius: 0;
    border: 1px #646464 solid;
    font-size: 20px;
    font-weight: 700;
    text-align: left
}

.family-container {
    margin-left: 190px
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .btn-family {
        padding: 38px 45px
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .btn-family {
        padding: 43px 45px
    }
}

@media screen and (max-width: 767px) {
    .btn-family {
        padding: 35px;
        font-size: 18px
    }

    .family-container {
        margin-left: 160px
    }
}

@media screen and (max-width: 600px) {
    .btn-family {
        float: none;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px
    }

    .family-container {
        margin-left: 0
    }
}

.Tech-info {
    background-color: #909090;
    padding-left: 15px;
    margin: 0 auto 30px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700
}

.Tech-info-bg-black {
    background-color: #323232
}

.small-img-container {
    font-size: 0
}

.small-img {
    width: 120px;
    height: 75px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer
}

.small-img img {
    transition: .5s
}

.small-img img:hover {
    transform: scale(1.5)
}

.features ul {
    padding-left: 17px
}

.Specification-features {
    overflow: hidden
}

.Specification-Features-table {
    background-color: #fafafa
}

.Specification-Features-table > tbody > tr > td {
    padding-left: 24px;
    border-top: 0
}

.Specification-Features-table > tbody > tr > td:nth-of-type(2) {
    border-left: 1px solid #ccc
}

.table-lt1a-1x4 > tbody > tr > td:nth-of-type(2n) {
    width: 60%
}

.ordering-table > tbody > tr > td {
    border-top: none;
    padding: 4px
}

.ordering-table > tbody > tr:first-child > td {
    height: 20px
}

.ordering-table > thead > tr > th {
    padding: 4px;
    font-weight: 400
}

@media screen and (min-width: 768px) {
    .table-troffer {
        max-width: 520px
    }
}

.table-troffer > thead {
    background-color: #646464;
    color: #fff
}

.table-troffer > thead > tr > th:last-child {
    border-left: solid 1px #fff
}

.table-troffer > tbody > tr:nth-of-type(2n-1) {
    background-color: #fafafa
}

.table-troffer > tbody > tr > td {
    border-top: none
}

.download-box {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 2px RGBA(255, 255, 100, .5) solid;
    z-index: 199999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    filter: alpha(opacity=100)
}

.download-box div {
    text-align: center;
    cursor: pointer
}

@media screen and (min-width: 992px) {
    #Inquiry {
        z-index: 1000001;
        background: #f8f8f8;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        display: none;
        filter: alpha(opacity=100)
    }

    #Inquiry .content {
        position: relative;
        width: 860px
    }

    #Inquiry .content .title {
        color: #323232;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        padding-top: 45px;
        margin-bottom: 10px
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #Inquiry {
        z-index: 1000001;
        background: #f8f8f8;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        filter: alpha(opacity=100)
    }

    #Inquiry .content {
        position: relative;
        width: 740px
    }

    #Inquiry .content .title {
        color: #323232;
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        padding-top: 45px;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 767px) {
    #Inquiry {
        z-index: 1000001;
        background: #f8f8f8;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        filter: alpha(opacity=100);
        max-height: 90%;
        overflow-y: scroll;
        overflow-x: hidden
    }

    #Inquiry .content .title {
        padding-top: 45px;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        color: #323232;
        font-weight: 700
    }
}

#Inquiry .content .btn-close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 28px;
    height: 28px;
    background: url(../img/home/btn-close1.png) no-repeat 100%;
    transition: all .6s ease-in .1s;
    -webkit-transition: all .6s ease-in .1s;
    -o-transition: all .6s ease-in .1s;
    -moz-transition: all .6s ease-in .1s
}

#Inquiry .content .btn-close:hover {
    transform: rotateX(180deg);
    background: url(../img/home/btn-close2.png) no-repeat 100%
}

#Inquiry .content form {
    max-width: 610px;
    margin: 0 auto;
    padding: 10px
}

#Inquiry .content form .form-group label {
    text-indent: 13px
}

#Inquiry .content form .form-group label span {
    color: #d01d1d
}

#Inquiry .content form .m-top {
    margin-top: 42px
}

#Inquiry .content form .form-group textarea {
    height: 160px;
    resize: none
}

#Inquiry .content form .form-group .button-submit {
    background: #646464;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-family: Tahoma;
    font-size: 14px;
    border: none;
    margin: 0 auto;
    display: block
}

#Inquiry .content form .form-group .button-submit:hover {
    background: #d01d1d
}

#Inquiry .content form .Demand {
    position: relative
}

#Inquiry .content form .Demand .Demand-title {
    position: absolute;
    left: 13px;
    top: 74px;
    color: #999
}

#Inquiry .content form .Demand input {
    padding-left: 50px
}

#mask {
    opacity: .8;
    filter: alpha(opacity=80);
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000
}

.search-bg {
    max-width: 100%;
    min-height: 310px;
    background: url(../img/home/search-bg.jpg) center center no-repeat
}

.search-input {
    border-radius: 0
}

button.btn-search {
    border-radius: 0;
    background-color: #323232;
    width: 160px;
    font-size: 18px;
    color: #fff
}

@media screen and (max-width: 480px) {
    button.btn-search {
        border-radius: 0;
        background-color: #323232;
        width: 93px;
        font-size: 16px;
        color: #fff
    }
}

button.btn-search:active, button.btn-search:focus, button.btn-search:hover, button.btn-search:visited {
    background-color: #fd6161;
    color: #fff
}

.box-shadow {
    box-shadow: 0 5px 10px rgba(100, 100, 100, .2)
}

.box-shadow:hover {
    box-shadow: 0 5px 10px rgba(100, 100, 100, .5)
}

.p-result {
    background-color: #fff;
    color: #b9b9b9;
    font-size: 20px
}

.p-result:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #b9b9b9;
    margin-top: 10px;
    display: block
}

.p-noresult {
    color: #e41930;
    text-align: center;
    font-size: 20px
}

.result-row {
    border-bottom: 1px dashed #b9b9b9
}

.result-row a {
    text-decoration: none;
    color: #323232
}

.result-row a:active, .result-row a:hover {
    color: #e41930
}

.page {
    margin-top: 100px;
    margin-bottom: 160px;
    position: relative;
    min-height: 1px
}

@media screen and (max-width: 767px) {
    .page {
        margin-top: 20px;
        margin-bottom: 30px
    }
}

.page div {
    position: absolute;
    right: 0
}

.current {
    display: inline-block;
    background-color: #323232;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center
}

.end, .first, .next, .num, .prev {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    box-shadow: 0 0 5px #B2B2B2;
    background-color: #f5f5f5
}

.end:hover, .first:hover, .next:hover, .num:hover, .prev:hover {
    background-color: #323232;
    color: #fff;
    text-decoration: none
}

.news-breadcrumb {
    font-size: 18px;
    color: #646464;
    padding-bottom: 10px;
    border-bottom: 1px solid #646464
}

.news-breadcrumb a {
    color: #646464;
    text-decoration: none
}

.news-breadcrumb a.active, .news-breadcrumb a:active, .news-breadcrumb a:hover {
    color: #e41930
}

.border {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .border {
        margin-right: -5px
    }
}

@media screen and (max-width: 767px) {
    .border {
        display: none
    }
}

.border .news-list {
    background-color: #e41930;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    line-height: 50px
}

.border .list {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px
}

.border .list .content-box {
    height: 39px;
    line-height: 40px;
    border-bottom: dashed 1px #ccc;
    position: relative
}

.border .list .content-box .content {
    display: block;
    width: 200px;
    color: #646464;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .border .list .content-box .content {
        width: 180px
    }
}

.border .list .content-box .content:active, .border .list .content-box .content:focus, .border .list .content-box .content:hover {
    color: #e41930
}

.border .list .content-box .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    background-color: #646464;
    text-align: center;
    cursor: pointer
}

.border .list .content-box > .icon:active, .border .list .content-box > .icon:focus, .border .list .content-box > .icon:hover {
    background-color: #e41930
}

.input-container {
    position: relative;
    width: 230px;
    min-height: 40px;
    line-height: 40px;
    margin-top: 20px;
    overflow: hidden
}

.input-container .search-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    right: 0;
    top: 0;
    color: #929292
}

.input-news {
    display: block;
    width: 230px;
    height: 40px;
    padding: 10px 40px 10px 10px;
    line-height: 20px;
    border-radius: 0
}

button.btn-news {
    display: block;
    width: 230px;
    height: 40px;
    background-color: #323232;
    margin-top: 20px
}

span.contactus {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    display: block
}

.catalogue-download {
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
    line-height: 40px
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .input-container {
        width: 210px
    }

    .input-news {
        width: 210px
    }

    button.btn-news {
        width: 210px
    }
}

.catalogue-download a {
    color: #646464;
    text-decoration: none
}

.catalogue-download i.fa {
    color: #e41930;
    font-size: 30px;
    vertical-align: middle
}

.catalogue-download:active, .catalogue-download:hover {
    background-color: #e41930;
    color: #fff
}

.catalogue-download:active i.fa, .catalogue-download:hover i.fa {
    color: #fff
}

.catalogue-download:active a, .catalogue-download:hover a {
    color: #fff
}

.news-title {
    font-weight: 700;
    font-size: 16px;
    color: #646464
}

.news-date {
    font-size: 50px;
    font-weight: 700;
    color: #909090;
    margin-bottom: 0;
    line-height: 1.1
}

.news-year {
    font-size: 18px;
    color: #909090
}

@media screen and (max-width: 767px) {
    .news-year:after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background-color: #666
    }
}

@media screen and (min-width: 1199px) {
    .lg-padding {
        padding-left: 50px
    }
}

.projects-name {
    color: #e41930;
    font-size: 16px;
    font-weight: 700
}

.share-box {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px
}

.share {
    border: 1px solid #ccc;
    height: 23px;
    line-height: 16px;
    font-size: 14px;
    padding: 2px;
    color: #646464;
    float: left;
    margin-right: 10px;
    margin-top: 10px
}

.share .fa-share-alt {
    color: #6ce46c
}

.share-box #share {
    display: block;
    font-size: 18px;
    float: left
}

.share-box .jssocials-share-logo {
    font-size: 18px
}

.jssocials-share-logo:active, .share-box .jssocials-share-logo:hover {
    color: #646464
}

.share-box .jssocials-share-link {
    padding: 2px
}
