<include file="block/header"/>
<include file="block/sidebar"/>
<!--右边主要内容显示区开始-->
<div class="col-sm-9 col-md-9 col-lg-10">
    <section class="mainbody">
        <ol class="breadcrumb">
            当前位置：
            <li><a href="{:U('index/index')}"><i class='fa fa-home'></i> 首页</a></li>
            <li><a href="{:U('ProductsType/index')}"><i class='fa fa-cog fa-spin'></i> 产品类型管理</a></li>
            <li class="active"><i class='fa fa-refresh fa-spin'></i> 修改产品类型 </li>          
        </ol> 
        <form class ="form-horizontal" id="editForm">
            <div class="form-group" >
                <label class="col-sm-3 col-lg-2 control-label">产品类型名：</label>
                <div class="col-sm-9 col-lg-6">
                    <input type="text" class="form-control" maxlength="255" placeholder="产品类型名" name="name" value="{$type.name}">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-3 col-lg-2 control-label">产品介绍：</label>
                <div class="col-sm-9 col-lg-6">
                    <textarea class="form-control description" maxlength="2000" placeholder="产品介绍" name="introduce" >{$type.introduce}</textarea>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-3 col-lg-2 control-label">缩略图(380x496)：</label>
                <div class="col-sm-9 col-lg-6">
                    <input id="thumb_upload"  type="file" multiple="true" >
                    <img style="display: none" id="thumb_img" src="{$type.thumb}" class="img-responsive" alt="" >
                    <input id="thumb" name="thumb" type="hidden" multiple="true" value="{$type.thumb}">
                </div>
            </div>
            <hr> 
            <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label">状态：</label>
                <div class="col-sm-6">
                    <label class='radio-inline'>
                        <input type="radio" name="status" value="1" <if condition="$type.status eq 1">checked</if> >正常
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" <if condition="$type.status eq 0">checked</if> >关闭
                    </label>
                </div>
            </div>
            <input type="hidden" name="id" value="{$type.id}">
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="button" class="form-control btn-success btn-submit" id="btnSubmit" value="更新">
                </div>               
            </div>
        </form>
    </section>
</div><!--col-sm-3 col-md-9 col-lg-10 end -->
<!--右边主要内容显示区结束-->
</div><!--row end 开始标签在sidebar -->
</div><!--container-fluid  end 开始标签在sidebar -->


<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/uploadify/jquery.uploadify.min.js"></script>
<script src="__PUBLIC__/uploadify/image.js"></script>
<!--每个方法的对应的模板部分的自定义javascript放在这里-->
<script>
    var SCOPE = {
        save_url : "{:U('Admin/ProductsType/add')}",
        jump_url : "{:U('Admin/ProductsType/index')}",
        ajax_upload_image_url : "/Admin/Image/ajaxuploadimage",//后台接口处理ajax上传的图片
        ajax_upload_swf : '__PUBLIC__/uploadify/uploadify.swf'
    };
    $(document).ready(function(){
        showImg('thumb_img');
    });
</script>
<include file="block/footer"/>