<?php
$nav = D("Menu")->getHomeNav();
$productsType = D("ProductsType")->getType();
?>
<!--[if lt IE 9]>
<div class="container">
    <p style="color:#e50012; margin: 50px auto">You are using an outdated internet browser which may cause some website content to display incorrectly.
        To improve your browsing experience and to increase your browsing security it is recommended to install one of
        <a href="http://browsehappy.com/?locale=en" target="_blank">the latest browsers</a>.
    </p>
</div>
<![endif]-->
<nav class="navbar navbar-default navbar-fixed-top m-b-0" style="box-shadow: 0 2px 7px rgba(100,100,100,.5);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img width="117" height="40" src="/logo.png" alt="logo" /></a>
        </div>
        <div class="collapse navbar-collapse pull-right nav-p-r-0" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">

                <volist name="nav" id="vo">
                    <li class='<if condition="($vo.name eq 'Products') OR ($vo.name eq 'About us')">dropdown </if>'>
                    <a href="{$vo|getHomeNavUrl}" title="{$vo.name}" class='<if condition="($vo.name eq 'Products') OR ($vo.name eq 'About us')">dropdown-toggle </if> <if condition="$active eq $vo[name]">active</if>' <if condition="($vo.name eq 'Products') OR ($vo.name eq 'About us')">data-toggle="dropdown"</if> >
                    {$vo.name}
                    <if condition="($vo.name eq 'Products') OR ($vo.name eq 'About us')"><b class="caret"></b></if>

                    </a>
                    <if condition="$vo.name eq 'Products'">
                        <ul class="dropdown-menu">
                            <volist name="productsType" id="vo">
                                <li><a href="{:U('Products/type','id='.$vo[id])}" title="{$vo.name}">{$vo.name}</a></li>
                            </volist>

                        </ul>
                    </if>
                    <if condition="$vo.name eq 'About us'">
                        <ul class='dropdown-menu'>
                            <li><a href="{:U('News/index')}">News</a></li>
                            <li><a href="{:U('Projects/index')}">Projects</a></li>
                        </ul>
                    </if>
                    </li>
                </volist>

            </ul>
            <form class="navbar-form nav-form-responsive nav-p-r-0" role="search" style="margin-top: 16px;"
                  method="post">
                <div class="input-group">
                    <input type="text" id="keyword" class="form-control input-sm" maxlength="88"
                           placeholder="Search Products...">
                    <span class="input-group-btn">
                        <button type="button" id="searchBtn" class="btn btn-sm btn-submit ">
                            <i class="fa fa-search "></i>
                        </button>
                    </span>
                </div>
            </form>

        </div>
    </div>
</nav>