<include file="block/header"/>
<include file="block/sidebar"/>
<!--右边主要内容显示区开始-->
<div class="col-sm-9 col-md-9 col-lg-10">
    <section class="mainbody">
        <ol class="breadcrumb">
            当前位置：
            <li><a href="{:U('index/index')}"><i class='fa fa-home'></i> 首页</a></li>
            <li class="active"><i class='fa  fa-picture-o'></i> 推荐位管理 </li>          
        </ol> 
        <button class="btn btn-default  add" id="btnAdd"><i class="fa fa-plus"></i>添加推荐位</button>
        
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                
                <thead>
                    <tr>                       
                        <th>推荐位ID</th>
                        <th>推荐位名称</th>                                              
                        <th>创建时间</th> 
                        <th>推荐位状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <foreach name="position" item="position">
                    <tr>
                        <td>{$position.position_id}</td>
                        <td>{$position.name}</td>
                        <td>{$position.create_time|date="Y-m-d H:i",###}</td>
                        <td>{$position.status|status}</td>
                        <td>
                            <a id="edit"   class="edit" title="编辑"  data-behavior="编辑" data-id="{$position.position_id}" ><i class="fa fa-edit"></i> 编辑</a>
                            <a id="delete" class="delete" title="删除" data-behavior="删除" data-id="{$position.position_id}" data-status = "-1"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
        </div>
        <nav class="page-container">
            {$pager}
        </nav>
    </section>
</div><!--col-sm-3 col-md-9 col-lg-10 end -->
<!--右边主要内容显示区结束-->
</div><!--row end 开始标签在sidebar -->
</div><!--container-fluid  end 开始标签在sidebar -->


<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<!--每个方法的对应的模板部分的自定义javascript放在这里-->
<script>
    var SCOPE ={
        add_url: "{:U('Position/add')}",
        edit_url: "{:U('Position/edit')}",
        set_status_url: "{:U('Position/setStatus')}",
        listorder_url: "{:U('Position/listorder')}"  
    };
</script>
<include file="block/footer"/>