<include file="block/header"/>
<include file="block/sidebar"/>
<!--右边主要内容显示区开始-->
<div class="col-sm-9 col-md-9 col-lg-10">
    <section class="mainbody">
        <ol class="breadcrumb">
            当前位置：
            <li><a href="{:U('index/index')}"><i class='fa fa-home'></i> 首页</a></li>
            <li><a href="{:U('Menu/index')}"><i class='fa fa-navicon'></i> 菜单管理 </a> </li>
            <li class="active"><i class='fa fa-edit'></i> 菜单编辑</li>          
        </ol> 


        <form id="editForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">菜单名：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" maxlength="50"  placeholder="请输入菜单名" name ="name" value="{$menu.name}">
                </div>
            </div>
            
            <if condition ="$menu.module eq 'Admin'"><!-- 后台菜单才显示图标供选择 前端菜单没图标 -->
            <div class="form-group">
                <label class="col-sm-3 control-label">菜单图标类：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" maxlength="30" placeholder="请输入菜单图标类" name="fa_icon" value="{$menu.fa_icon}">
                </div>
            </div>
            </if>

            <div class="form-group">
                <label class="col-sm-3 control-label">菜单类型：</label>
                <div class="col-sm-6">
                    <label class=" radio-inline">
                        <input type="radio" value="Home" name="module"  <if condition="$menu.module eq 'Home'">checked</if>>前端导航
                    </label>           
                    <label class=" radio-inline">
                        <input type="radio" value="Admin" name="module" <if condition="$menu.module eq 'Admin'">checked</if>>后台菜单
                    </label>   
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">菜单控制器名：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" maxlength="20" placeholder="请输入控制器名" name="controller" value="{$menu.controller}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">菜单方法名：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" maxlength="20" placeholder="请输入方法名" name="function" value="{$menu.function}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">菜单状态：</label>
                <div class="col-sm-6">
                    <label class='radio-inline'>
                        <input type="radio" name="status" value="1" <if condition="$menu.status eq 1">checked</if>>正常
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" <if condition="$menu.status eq 0">checked</if>>关闭
                    </label>
                </div>
            </div>
            <input type="hidden" name="menu_id" value="{$menu.menu_id}">
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="button" class="form-control btn-success btn-submit" id="btnSubmit" value="更新">
                </div>
               
            </div>
            
        </form>


    </section>
</div><!--col-sm-3 col-md-9 col-lg-10 end -->
<!--右边主要内容显示区结束-->
</div><!--row end 开始标签在sidebar -->
</div><!--container-fluid  end 开始标签在sidebar -->


<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<!--每个方法的对应的模板部分的自定义javascript放在这里-->
<script>
    var SCOPE = {
        save_url : "{:U('Admin/Menu/add')}",
        jump_url : "{:U('Admin/Menu/index')}"
    };
</script>
<include file="block/footer"/>