<include file="block/header"/>
<include file="block/sidebar"/>
<!--右边主要内容显示区开始-->
<div class="col-sm-9 col-md-9 col-lg-10">
    <section class="mainbody">
        <ol class="breadcrumb">
            当前位置：
            <li><a href="{:U('index/index')}"><i class='fa fa-home'></i> 首页</a></li>
            <li class="active"><i class='fa fa-navicon'></i> 菜单管理  </li>
        </ol> 

        <form role="form" class="" id="formSearch" action="{:U('Menu/index')}"  method="get">
            <div class="input-group col-sm-5 col-md-3 col-lg-2">
                <select class="form-control" name="module">

                    <option class="text-center" value=""> 全部菜单 </option>
                    <option class="text-center" value="Admin" <if condition ="$module eq 'Admin'"> selected</if>> 后台菜单 </option>
                    <option class="text-center" value="Home" <if condition ="$module eq 'Home'"> selected</if>> 前端导航 </option>

                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default " type="submit" ><i class="fa fa-search"></i></button>
                </span>
            </div> 

            <input type="hidden" name ="listorder" value="">
        </form>

        <button class="btn btn-default  add" id="btnAdd"><i class="fa fa-plus"></i>添加菜单</button>
        <button class="btn btn-default  add" id="listorderUpdate"><i class="fa fa-refresh fa-spin"></i>更新菜单排序</button>


        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <if condition="$res eq 1"> <p style="color:#FF0543;margin-top: 10px;">没有找到相关结果！</p></if>
                <thead <if condition="$res eq 1"> style="display:none;"</if>>
                    <tr>
                        <th width="80">排序</th>
                        <th id="listorderId" <if condition="$listorder eq 'asc'"> listorder="desc" <else/> listorder="asc" </if> >菜单ID</th>
                        <th>菜单名</th>
                        <th>类型</th>
                       <th>状态</th>
                       <th>操作</th>
                   </tr>

                </thead>
                <tbody>
                <form id="listorderForm">
                <foreach name='menu' item='nav'>
                    <tr>
                        <td><input type="text" size='4' maxlength="4" name="listorder[{$nav.menu_id}]" value="{$nav.listorder}"></td>
                        <td> {$nav.menu_id}</td>
                        <td> {$nav.name}   </td>
                        <td> {$nav.module|getModuleName} </td>
                        <td><span id="updateStatus" data-id = "{$nav.menu_id}" data-behavior = "更改状态"  <if condition="$nav.status eq 1">data-status="0" <else/> data-status="1" </if>>{$nav.status|status}</span>  </td>
                        <td>
                            <a id="edit"   class="edit" title="编辑"  data-behavior="编辑" data-id="{$nav.menu_id}" ><i class="fa fa-edit"></i> 编辑</a>
                            <a id="delete" class="delete" title="删除" data-behavior="删除" data-id="{$nav.menu_id}" data-status = "-1"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                </foreach>
                </form>
                </tbody>
            </table>
        </div>
        <nav class="page-container">
            {$pager}
        </nav>

    </section>
</div><!--col-sm-3 col-md-9 col-lg-10 end -->
<!--右边主要内容显示区结束-->
</div><!--row end 开始标签在sidebar -->
</div><!--container-fluid  end 开始标签在sidebar -->

<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<!--每个方法的对应的模板部分的自定义javascript放在这里-->       
<script>
    //在模板里面定义的u方法可以被解析成对应路由，如果是外部引入的js文件里面定义u方法就不会被解析
    var SCOPE = {
        'edit_url': "{:U('Menu/edit')}",
        'add_url': "{:U('Menu/add')}",
        'set_status_url': "{:U('Menu/setStatus')}",
        listorder_url: "{:U('Menu/listorder')}"
    };
</script>

<include file="block/footer"/>